/**********
LAZY LOAD IMAGES
**********/

.lazy-image {
      opacity: 0;
      transition: opacity 0.3s;
    }
    .lazy-image.loaded {
      opacity: 1;
    }


html {
  font-size: 100%; }

body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #004877;
  padding: 0; }

.topspace {
  margin-top: 40px; }

/*********************************************************************


                            Navigation in header


**********************************************************************/
.navbar {
  border-width: 1px 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  width: 100%; }
  .navbar.stick {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .85; }

.navbar-collapse {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase; }
  .navbar-collapse .navbar-nav {
    float: none;
    margin: 0 auto;
    text-align: center; }
    .navbar-collapse .navbar-nav > li {
      float: none;
      display: inline-block; }
      .navbar-collapse .navbar-nav > li.last {
        margin-left: 36px; }
      .navbar-collapse .navbar-nav > li > a {
        padding: 20px 30px; }

.dropdown ul.dropdown-menu {
  top: 85%;
  text-align: left; }
  .dropdown ul.dropdown-menu > li > a {
    padding: 5px 30px; }

.navbar-default {
  background-color: #ffffff;
  border-color: #cccccc; }
  .navbar-default .navbar-nav > li > a {
    color: #454545;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #000000;
      background-color: #ffffff; }
  .navbar-default .navbar-nav > .active > a {
    color: #000000;
    background-color: #ffffff; }
    .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #000000;
      background-color: #ffffff; }
  .navbar-default .dropdown ul.dropdown-menu > li > a {
    color: #454545; }
    .navbar-default .dropdown ul.dropdown-menu > li > a:hover {
      background-color: #eeeeee;
      color: #000000; }
  .navbar-default .navbar-toggle {
    border-color: #666666; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #ffffff; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #333333; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #cccccc; }
  .navbar-default .navbar-nav > .open > a {
    background-color: #ffffff;
    color: #000000; }
    .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      background-color: #ffffff;
      color: #000000; }

/****************************************************************************************


                                     Sidebar special Nav


*****************************************************************************************/
.nav-side {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: -0.37em; }
  .nav-side > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f392b4; }
    .nav-side > li > a:hover {
      color: #bd1550;
      background: none; }
  .nav-side > li.active > a {
    color: #bd1550; }

/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
p, ul, ol {
  line-height: 1.6em;
  margin: 0 0 30px 0; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: #333333; }

h1 {
  font-size: 40px;
  font-size: 2.5rem; }

h2 {
  font-size: 36px;
  font-size: 2.25rem; }

h3 {
  font-size: 30px;
  font-size: 1.875rem; }

h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5 {
  font-size: 20px;
  font-size: 1.25rem; }

a {
  color: #032147; }
  a:hover {
    color: #032147; }

.lead {
  color: #000000;
  font-weight: 300;
  font-size: 18px; }

.lead2 {
  color: #7F7F7F;
  font-weight: 300;
  font-size: 24px; }
  .lead2 b {
    color: #002060;
    font-weight: 400; }

.text-msg {
  line-height: 1.7em;
  color: #b3b3b3;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em; }

.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
  max-width: 100%;
  height: auto; }

.green {
  color: #f24e2a; }

.red {
  color: #970001; }

.blue{
  color: #00669F;
}

h5.green {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f24e2a;
  text-decoration: underline;
  font-weight: 700;
  font-size: 19px; }

/*********************************************************************


                                HEADER


**********************************************************************/
#head {
  background: transparent;
  background-size: cover;
  color: #7C7C7C;
  padding: 0; }
  #head img.img-circle {
    display: block;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border: 9px solid rgba(0, 0, 0, 0.05);
    margin: 0 auto; }
  #head .title {
    font-family: Alice, Georgia, serif;
    font-size: 49px;
    font-size: 3.0625rem;
    color: #ffffff; }
    #head .title a {
      text-decoration: none;
      color: #333333; }
  #head .tagline {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.2em;
    color: #7C7C7C;
    margin: 5px 0 0; }
    #head .tagline b {
      font-weight: normal; }
    #head .tagline a {
      color: #5E5E5E; }

.home #head {
  padding: 0; }
  .home #head .title {
    font-size: 49px;
    font-size: 3.0625rem; }
  .home #head .tagline {
    font-size: 16px;
    font-size: 1rem;
    margin: 15px 0 0; }

#cart {
  display: block;
  margin-top: 0px;
  text-align: center;
  margin-top: 20px; }

#cart-mobile {
  text-align: center;
  margin-top: 20px;
  display: none; }

#cart a, #cart-mobile a {
  color: #333333;
  border: 1px solid #333333;
  border-radius: 20px;
  padding: 5px 22px;
  font-size: 12px; }

#cart a:hover, #cart-mobile a:hover {
  text-decoration: none; }

#cart a i, #cart-mobile a i {
  font-size: 15px;
  margin-right: 5px; }

#cart a span, #cart-mobile a span {
  text-transform: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.col-centered {
  float: none;
  margin: 0 auto; }

/*********************************************************************


                                CONTENT


**********************************************************************/
.img-format {
  margin-left: 25%; }

img {
  max-width: 100%; }

.btn {
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 0 none;
  padding: 12px 35px;
  text-shadow: 0 1px 0px #780d33; }

.btn-primary {
  color: #fff;
  background-color: #00669F; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: #2E75AD; }

.btn-action {
  font-weight: bold;
  background: transparent !important;
  border: 1px solid #333;
  text-shadow: none; }
  .btn-action:hover, .btn-action:focus, .btn-action:active, .btn-action.active {
    color: #F26C4F;
    border-color: #2E75AD; }

.btn-lg {
  padding: 15px 60px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: bold; }

.panel-cta {
  box-shadow: 0 0 0 1px #e1e1e1, 0 0 0 3px #fff, 0 0 0 4px #e1e1e1;
  background: #f3f3f3;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box; }
  .panel-cta p, .panel-cta h3, .panel-cta h4, .panel-cta h5, .panel-cta h6 {
    margin: 0; }
  .panel-cta .panel-body {
    padding: 35px; }

/* Section - Featured */
.featured {
  font-size: 13px;
  font-size: 0.8125rem; }
  .featured h3 {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.4em;
    vertical-align: middle;
    margin: 0 0 25px 0; }

.featured-home h3 {
  min-height: 65px; }

/* Section - Recent works */
.thumbnails {
  padding: 0; }
  .thumbnails li {
    margin-bottom: 30px; }
  .thumbnails .details {
    display: block;
    text-align: center;
    font-size: 12px;
    font-size: 0.75rem; }

.thumbnail {
  display: block;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #333; }
  .thumbnail .img {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 180px;
    margin: 0 0 20px;
    position: relative; }
  .thumbnail .title {
    text-transform: uppercase;
    margin: 0 2em;
    display: block;
    text-indent: 0; }
  .thumbnail .cover {
    position: absolute;
    display: block;
    opacity: 0;
    width: 100%;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 550ms;
    -moz-transition-duration: 550ms;
    -o-transition-duration: 550ms;
    transition-duration: 550ms; }
    .thumbnail .cover .more {
      position: absolute;
      bottom: 15px;
      right: 0;
      height: 32px;
      line-height: 32px;
      padding: 0 20px;
      -webkit-border-radius: 1px 0 0 1px;
      -webkit-background-clip: padding-box;
      -moz-border-radius: 1px 0 0 1px;
      -moz-background-clip: padding;
      border-radius: 1px 0 0 1px;
      background-clip: padding-box;
      font-size: 12px;
      font-size: 0.75rem;
      text-transform: uppercase;
      text-shadow: 0 1px 0px #780d33;
      background: #bd1550;
      color: white; }
  .thumbnail img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .thumbnail:hover {
    color: #333;
    text-decoration: none; }
    .thumbnail:hover img {
      -webkit-filter: saturate(0%); }
    .thumbnail:hover .cover {
      opacity: 1; }

/* pagination */
.pagination > li > a {
  color: #808080;
  border: 0 none;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Georgia, serif; }
  .pagination > li > a:hover {
    color: #000000;
    background: none; }
.pagination > li.active > a {
  color: #333333;
  background: none; }
  .pagination > li.active > a:hover {
    color: #000000;
    background: none; }

.group-list li {
  font-size: 18px;
  color: #000000;
  font-weight: 300;
  margin-bottom: 25px; }

/*********************************************************************


                                 BLOG


**********************************************************************/
.section-title, .entry-title {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0px 0 25px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  font-size: 2.25rem;
  letter-spacing: 1px; }

.section-title a, .entry-title a {
  color: #333333; }

.section-title span, .entry-title span {
  display: inline-block;
  position: relative; }

.section-title span:before, .entry-title span:before, .section-title span:after, .entry-title span:after {
  content: "";
  position: absolute;
  height: 4px;
  top: .53em;
  width: 400%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }

.section-title span:before, .entry-title span:before {
  right: 100%;
  margin-right: 45px; }

.section-title span:after, .entry-title span:after {
  left: 100%;
  margin-left: 45px; }

.entry-header .entry-meta {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: normal;
  color: #a5a5a5;
  margin: 0 0 15px 0; }
  .entry-header .entry-meta a {
    color: #a5a5a5; }

.entry-content {
  margin: 0 0 60px 0; }
  .entry-content h2 {
    line-height: 1.2;
    font-size: 30px;
    font-size: 1.875rem;
    padding-top: 20px;
    margin-bottom: 20px; }

.meta-nav, .more-link {
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
  color: #666666;
  text-decoration: none; }

.meta-nav:hover {
  color: #333333;
  text-decoration: underline; }

.more-link {
  display: block;
  width: 100%;
  text-align: right; }
  .more-link:hover {
    color: #333333;
    text-decoration: underline; }

/* Posts navigation */
#nav-below {
  position: fixed;
  top: 48%; }
  #nav-below .meta-nav {
    display: block;
    padding: 27px 7px;
    background: #444;
    color: #fff;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    opacity: 0.2; }
    #nav-below .meta-nav:hover {
      text-decoration: none;
      color: #333; }
  #nav-below .nav-next {
    position: fixed;
    right: -3px; }
  #nav-below .nav-previous {
    position: fixed;
    left: -3px; }
  #nav-below b {
    display: none; }

footer.entry-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 35px 0;
  padding: 2px 0;
  color: #888888;
  font-size: 12px;
  font-size: 0.75rem; }
  footer.entry-meta a {
    color: #333333; }
  footer.entry-meta .meta-in {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0; }

.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
  text-align: left; }
  .page-header .page-title {
    margin-top: 0;
    margin-bottom: 30px; }

/*********************************************************************


                                COMMENTS


**********************************************************************/
#comments {
  font-size: 13px;
  font-size: 0.8125rem; }
  #comments .comments-title {
    margin: 0 0 5px 0; }
  #comments .leave-comment {
    display: block;
    margin: 0 0 40px 0; }
  #comments ul, #comments ol {
    margin: 0;
    padding: 0; }
  #comments .comment {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both; }
  #comments .comments-title {
    text-shadow: none;
    margin-bottom: 0; }
  #comments .avatar {
    float: left;
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    border: 5px solid #eeeeee;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box; }
  #comments .children {
    margin: 0 0 0 90px; }
  #comments .comment-meta {
    margin: 0 0 0 90px; }
    #comments .comment-meta a {
      color: #333333; }
      #comments .comment-meta a:hover {
        color: #bd1550; }
    #comments .comment-meta .author {
      margin: 0 20px 0 0;
      font-weight: bold; }
    #comments .comment-meta .date {
      margin: 0 20px 0 0; }
      #comments .comment-meta .date a {
        color: #666666; }
    #comments .comment-meta .reply {
      float: right; }
  #comments .comment-body {
    margin: 0 0 35px 90px; }

.comment-navigation {
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 2px 0 0 0; }
  .comment-navigation .nav-content {
    border-top: 1px solid #ccc;
    width: 100%;
    padding: 10px 0 0 0; }
  .comment-navigation .nav-previous {
    float: left;
    width: 50%; }
  .comment-navigation .nav-next {
    float: right;
    width: 50%;
    text-align: right; }

#respond {
  margin: 55px 0 0 0; }

/*********************************************************************


                                CHECKOUT


**********************************************************************/
#checkout-cart {
  padding-top: 60px;
  padding-bottom: 60px; }
  #checkout-cart table td {
    font-size: 15px; }
    #checkout-cart table td a {
      color: #004877; }
  #checkout-cart h2 {
    font-size: 27px;
    font-weight: 400;
    text-transform: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center; }
  #checkout-cart p {
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 10px; }
    #checkout-cart p.sub-para {
      font-size: 1.2em; }
  #checkout-cart .panel-group h4.panel-title {
    text-transform: inherit; }
  #checkout-cart .fa {
    font-size: 14px; }
  #checkout-cart a.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #bd1550;
    background-image: linear-gradient(to bottom, #bd1550, #bd1550);
    background-repeat: repeat-x;
    border-color: #bd1550 #bd1550 #145e7a; }
  #checkout-cart .btn-primary.active.focus, #checkout-cart .btn-primary.active:focus, #checkout-cart .btn-primary.active:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40; }
  #checkout-cart .btn-primary:active.focus, #checkout-cart .btn-primary:active:focus, #checkout-cart .btn-primary:active:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40; }
  #checkout-cart .open > .dropdown-toggle.btn-primary.focus, #checkout-cart .open > .dropdown-toggle.btn-primary:focus, #checkout-cart .open > .dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40; }
  #checkout-cart .btn {
    padding: 7.5px 12px;
    font-size: 15px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
  #checkout-cart .input-group-btn .btn {
    font-size: 12px; }
  #checkout-cart b, #checkout-cart strong {
    font-weight: 700; }
  #checkout-cart label {
    font-size: 12px;
    font-weight: normal; }
  #checkout-cart .form-control {
    font-size: 12px; }
  #checkout-cart .btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #bd1550;
    background-image: linear-gradient(to bottom, #bd1550, #bd1550);
    background-repeat: repeat-x;
    border-color: #bd1550 #bd1550 #145e7a; }
  #checkout-cart .input-group .form-control:first-child, #checkout-cart .input-group-addon:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  #checkout-cart .input-group-btn:first-child > .btn, #checkout-cart .input-group-btn:first-child > .btn-group > .btn, #checkout-cart .input-group-btn:first-child > .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  #checkout-cart .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  #checkout-cart .input-group-btn:last-child > .btn {
    z-index: 2;
    margin-left: -1px; }
    #checkout-cart .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
  #checkout-cart .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px; }
  #checkout-cart .btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420; }
  #checkout-cart .image_cart {
    width: 10%; }
  #checkout-cart .name_cart {
    width: 40%; }

#collapse-payment-address legend {
  font-size: 18px;
  padding: 7px 0px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }
#collapse-payment-address label.error {
  color: red; }

.grid_2 {
  padding: 1em 0;
  background: #ffffff; }

.sub-hd {
  text-align: center; }
  .sub-hd h3.tittle {
    font-size: 3em;
    font-weight: 300;
    color: #222;
    font-family: "Open Sans", sans-serif !important; }

p.sub-para {
  color: #777;
  font-size: 1.2em;
  line-height: 1.9em;
  font-weight: 400;
  text-align: center;
  margin: 1em 0 0 0; }

.box_1 {
  margin-bottom: 3em; }
  .box_1.one {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    overflow: hidden;
    padding: 20px 0px; }

.box-service {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.08);
  padding: 28px 10px 10px 10px; }
  .box-service:hover {
    transform: scale3d(1.02, 1.02, 1); }

.story_desc {
  background: #ffffff;
  padding: 11px 0px;
  text-align: left;
  width: 100%; }
  .story_desc h3 {
    color: #2a2a2a;
    font-size: 1.2em;
    margin-bottom: 0;
    font-weight: 400; }
  .story_desc p {
    color: #2a2a2a;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 6px; }
    .story_desc p.first {
      text-align: center;
      min-height: 82px; }
    .story_desc p.last {
      text-align: center; }

.carts-items {
  text-align: center;
  margin: 18px 0px 2px 0px; }

.content-images {
  margin-bottom: 24px; }

.list-option-page {
  list-style-type: disc; }
  .list-option-page li {
    font-size: 18px;
    font-weight: 300;
    color: #000000; }

.content-title-product {
  margin-top: 10px;
  overflow: hidden; }

/*********************************************************************


                                TESTIMONIAL


**********************************************************************/
.testimonials {
  padding: 33px 0 0 0; }
  .testimonials ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    border-bottom: 1px solid #e5e5e5; }
    .testimonials ul li {
      display: block;
      width: auto;
      margin: 0 0 27px 0;
      vertical-align: top; }
  .testimonials p {
    font-size: 16px;
    line-height: 1.33;
    text-align: left;
    padding: 15px 23px 17px 23px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 17px; }
  .testimonials li:nth-child(1) p {
    background: #e5eef4; }
  .testimonials li:nth-child(2) p {
    background: #f8f1e2; }
  .testimonials li:nth-child(3) p {
    background: #e1f7ea; }
  .testimonials p:after {
    content: "";
    width: 0;
    height: 0;
    border-right: 35px solid transparent;
    position: absolute;
    bottom: -18px;
    left: 0; }
  .testimonials li:nth-child(1) p:after {
    border-top: 30px solid #e5eef4; }
  .testimonials li:nth-child(2) p:after {
    border-top: 30px solid #f8f1e2; }
  .testimonials li:nth-child(3) p:after {
    border-top: 30px solid #e1f7ea; }
  .testimonials .c {
    clear: both;
    height: 80px; }
  .testimonials .avatar {
    display: block;
    float: left;
    width: 76px;
    height: 76px;
    margin-right: 15px;
    background: #f9f9f9;
    border-radius: 50%;
    overflow: hidden; }
  .testimonials img {
    width: 80px;
    height: 80px; }
  .testimonials .metadata {
    text-align: left;
    color: #393f4c;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px; }
    .testimonials .metadata span.author {
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 0;
      display: block; }
    .testimonials .metadata cite {
      display: block;
      font-size: 1em;
      font-style: normal;
      font-weight: 400;
      line-height: 1.3; }
  .testimonials .sub-hd {
    margin-bottom: 58px; }

.line-divider {
  border-color: #F26C4F;
  margin: 35px 0; }

.section-contact-us p {
  font-size: 18px;
  text-align: center; }

@media (min-width: 768px) {
  .testimonials {
    padding-top: 88px; }
    .testimonials ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;
      padding-bottom: 50px; }
      .testimonials ul li {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        width: 50%; }
    .testimonials p {
      font-size: 18px;
      margin-bottom: 30px; }

  .ahrefs .testimonials .metadata {
    font-size: 18px; } }
@media (min-width: 992px) {
  .testimonials .avatar {
    width: 80px;
    height: 80px; } }
@media (min-width: 1199px) {
  .testimonials ul li {
    width: 33.333%; } }
/*********************************************************************


                                FOOTER


**********************************************************************/
#footer {
  background: #00669F;
  padding: 30px 0 30px 0;
  font-size: 12px;
  color: #999; }
  #footer a {
    color: #ccc; }
    #footer a:hover {
      color: #fff; }
  #footer h3.widget-title {
    font-size: 15px;
    font-size: 0.9375rem;
    text-transform: uppercase;
    color: #ccc;
    margin: 0 0 20px; }
  #footer .widget p {
    margin: 0 0 0px 0; }

#underfooter {
  background: #333333;
  padding: 15px 0;
  color: #777;
  font-size: 12px; }
  #underfooter a {
    color: #aaa; }
    #underfooter a:hover {
      color: #fff; }
  #underfooter p {
    margin: 0; 
    color: #ffffff;}

.follow-me-icons {
  font-size: 30px; }
  .follow-me-icons i {
    float: left;
    margin: 0 10px 0 0; }

/* Max page width
/////////////////////////////////////////////////////////////////////*/
@media (min-width: 1200px) {
  .container {
    max-width: 1080px; } }
@media (max-width: 767px) {
  .navbar-collapse .navbar-nav > li {
    display: block; }

  .box-service {
    margin-bottom: 24px; }
    .box-service img {
      width: 100%; }

  .img-format {
    margin-left: 0px; }

  .content-images img {
    margin-bottom: 14px; }

  #footer, #underfooter p {
    text-align: center; }

  .content-effects {
    margin-left: 0%; }

  #cart {
    display: none; }

  #cart-mobile {
    display: block;
    float: left;
    margin-top: 13px;
    margin-left: 15px; }

  .home #head .tagline {
    color: #333333; }

  .featured-home h3 {
    min-height: auto; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    text-align: center; }

  #footer .widget {
    margin-bottom: 18px; }

  .content-images {
    margin-bottom: 0px; } 
    .container-logo-mobile{
        display: block !important;
    }
    .list-logo-web{
        display: none !important;
    }
    .content-banner .content-text {
        width: 100% !important;
        padding: 26px 15px !important;
    }
    .content-banner .content-text h2 {
        font-size: 20px !important;
    }
    .section-title, .entry-title{
        font-size: 1.5rem;
    }
    .content-logo-mobile{
        margin: 15px 15px;
        display: block;
    }
    .content-logo-mobile img{
        width: 60%;
    }
    .video-container {
       position: relative;
       padding-bottom: 56.25%;
    }
    .video-container iframe {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
    }
}
@media (max-width: 992px) {
  .box-service {
    margin-bottom: 24px; } }
#checkout-cart .btn-primary, #checkout-cart a.btn-primary {
  background: #032147;
  border-color: #032147; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 240px; }

.swiper-pagination-bullet {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #ddd;
  display: inline-block;
  border: 3px solid transparent; }

.swiper-pagination-bullet-active {
  color: #fff;
  border: 3px solid #f24e2a; }

.swiper-pag {
  background-size: cover; }

.swiper-pag-0 {
  background-image: url("../images/photos/user-1.jpg"); }

.swiper-pag-1 {
  background-image: url("../images/photos/user-2.jpg"); }

.swiper-pag-2 {
  background-image: url("../images/photos/user-3.jpg"); }

.text-testim {
  background: url("../images/c/tp1.png") no-repeat top left;
  padding-left: 100px;
  padding-top: 34px; }

.text-testim-content {
  background: url("../images/c/tp2.png") no-repeat bottom right;
  font-size: 30px;
  font-weight: 200;
  line-height: 36px;
  padding-bottom: 33px;
  padding-right: 100px; }

.text-testim-title {
  padding-right: 100px;
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 25px; }

body .box-service {
  position: relative;
  text-align: center;
  padding: 0; }
  body .box-service img {
    width: 230px;
    margin: 20px 0; }
  body .box-service .b_sale {
    background: #FF7113;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 64px;
    line-height: 64px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 64px; }
  body .box-service .story_desc {
    padding: 12px 12px; }
  body .box-service .carts-items .btn {
    padding-top: 15px;
    padding-bottom: 15px; }

.feature_box {
  background-image: url(../images/c/static_block_bg.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative; 
  height: 300px;
}

.wapper_box_icon {
  color: #ffffff;
  padding: 50px 0;
  text-align: center; }
  .wapper_box_icon .boxes_title {
    color: white;
    font-size: 20px;
    text-transform: uppercase; }
  .wapper_box_icon p {
    margin: 0; }
  .wapper_box_icon .inner_icon {
    margin-bottom: 20px; }
    .wapper_box_icon .inner_icon .icon {
      background: #ffffff;
      border-radius: 50%;
      display: inline-block;
      height: 100px;
      width: 100px;
      position: relative; }
    .wapper_box_icon .inner_icon .fa {
      color: #071F89;
      font-size: 40px;
      line-height: 100px;
      cursor: default; }
    .wapper_box_icon .inner_icon .icon_border {
      border: 4px solid #071F89;
      border-radius: 50%;
      height: 100%;
      left: 0;
      opacity: 0.2;
      position: absolute;
      top: 0;
      width: 100%;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      .wapper_box_icon .inner_icon .icon_border:hover {
        opacity: 1; }

body .navbar.stick {
  opacity: 1; }

.m-b-0 {
  margin-bottom: 0 !important; }

.section-title span::before, .entry-title span::before, .section-title span::before, .entry-title span::before, .section-title span::after, .entry-title span::after {
  display: none; }

.box-service:hover {
  transform: none; }

.sleekslider {
  height: 330px !important; }

.btn-grey {
  background-color: #D8D8D8;
  color: #FFF; }

.padding-bottom-7 {
  padding-bottom: 7px; }

.container-review {
  color: #444444;
  margin-bottom: 40px; }
  .container-review .rating-block {
    background-color: #ffffff;
    border: 1px solid transparent;
    padding: 15px 15px 20px 15px;
    border-radius: 3px; }
    .container-review .rating-block .btn {
      padding: 8px 12px;
      background-color: #071F89;
      border-color: #071F89;
      color: #ffffff; }
  .container-review .bold {
    font-weight: 700; }
  .container-review .review-block {
    background-color: #ffffff;
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px; }
  .container-review .review-block-name {
    font-size: 12px;
    margin: 10px 0; }
  .container-review .review-block-date {
    font-size: 12px; }
  .container-review .review-block-rate {
    font-size: 13px;
    margin-bottom: 15px; }
    .container-review .review-block-rate .btn {
      padding: 8px 12px;
      background-color: #071F89;
      border-color: #071F89;
      color: #ffffff; }
  .container-review .review-block-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px; }
  .container-review .review-block-description {
    font-size: 16px; }
    
.content-banner{
    position: relative;
}

.content-banner .content-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 32px 64px;
}

.content-banner .content-text h2{
    font-size: 39px;
}

.container-logo-mobile{
    display: none;
}

.list-logo-web{
    display: block;
}

.content-banner .content-banner-img {
    background-image: url(../images/hairtogain-banner.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: top center;
}

ul.list{
    list-style-type: disc;
}

.video-container{
  text-align: center;
}


/************
YOUTUBE EMBED
************/


  #video-container {
    display: flex;
    justify-content: center;
    align-items: center;
   /* width: 760; /* Set the desired width */
   /*  height: 415; /* Set the desired height */
    overflow: hidden;
  }

  #video-container img{
    text-align: center;
    max-width: 100%;
    max-height: 100%;
  }
  
  #player-wrapper{
    z-index: 10;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    
  }

  #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/*# sourceMappingURL=styles.css.map */


